[submodule "libs/HiRepParsing"]
	path = libs/HiRepParsing
	url = https://github.com/fzierler/HiRepParsing
[submodule "libs/LatticeUtils"]
	path = libs/LatticeUtils
	url = https://github.com/fzierler/LatticeUtils
[submodule "libs/flow_analysis"]
	path = libs/flow_analysis
	url = https://github.com/edbennett/flow_analysis
