[submodule "libs/HiRepParsing"]
	path = libs/HiRepParsing
	url = https://github.com/fzierler/HiRepParsing
[submodule "libs/LatticeUtils"]
	path = libs/LatticeUtils
	url = https://github.com/fzierler/LatticeUtils
